<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body {text-decoration: none;}>
	<p>Autor</p>
	<h1>Edisson Giraldo</h1>
	<div id=image>
		<img src="../images/EdissonGiraldo.jpg">
	</div>

	
</body>
</html>