<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <h3>El portal donde podrá crear sus propios Juegos</h3>
    <h5><a href="/quizes/question">Comience a Jugar</h5>
  </body>
</html>
